<form action="/cadastro" method="post">
    <label>
        Nome: <input type="text" name="nome">
    </label>
    <label>
        Login: <input type="text" name="login">
    </label>
    <label>
        Senha: <input type="password" name="senha">
    </label>
    <label>
        <input type="submit">
    </label>

    <label for="radio-aluno"><input type="radio" name="tipo" value="radAluno" checked="checked">Aluno</label>
    <label for="radio-aluno"><input type="radio" name="tipo" value="radResp">Pai/Responsável</label>
    <label for="radio-aluno"><input type="radio" name="tipo" value="radTutor">Tutor</label>
</form>