<!DOCTYPE html>
<head>
    <title>TUTORES Reforço Escolar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <header class="header">
        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Área Restrita</p></span>
            </a>
           
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="img"></div>
            </li>
            <li class="nav-item">
                <a href="/" class="nav-link">
                    <span class="link-text"><p>IR PARA</p><strong>HOME</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>CONHEÇA A</p><strong>HISTÓRIA</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>O QUE</p><strong>FAZEMOS</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>ENCONTRE A</p><strong>UNIDADE</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>TRABALHE</p><strong>CONOSCO</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>CONFIRA AS</p><strong>NOITICIAS</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p>ENTRE EM</p><strong>CONTATO</strong></span>
                </a>
            </li>
        </ul>
    </nav>


    <main>
        <h3>Pagina Inicial</h3>
    </main>
</body>