<!DOCTYPE html>
<head>
    <title>TUTORES Reforço Escolar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

    <header class="header">
        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Área Restrita</p></span>
            </a>
           
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/">
                    <div class="img"></div>
                </a>
            </li>
            <li class="nav-active">
                <a href="/" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">IR PARA</p><strong>HOME</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">CONHEÇA A</p><strong>HISTÓRIA</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">O QUE</p><strong>FAZEMOS</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">ENCONTRE A</p><strong>UNIDADE</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">TRABALHE</p><strong>CONOSCO</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">CONFIRA AS</p><strong>NOITICIAS</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">ENTRE EM</p><strong>CONTATO</strong></span>
                </a>
            </li>
        </ul>
    </nav>


    <main>
        <div class='containerzero'>
            <img src='/img/indeximg1.png' class="image" alt='imagem1'>
            <h2> "Tornar a vida mais <strong> fácil </strong> para nossos clientes e seus familiares, através de um atendimento multidisciplinar <strong> personalizado.</strong>" </h2>
        </div>

        <div class="faixa">
            <h2>O nosso </h2>
            <h1> Novo Ambiente de Aprendizagem </h1>
        </div>

        <div class = 'container'>
            <div class = 'texto'>
                <p>     O novo Ambiente Virtual de Aprendizagem, também conhecido como AVA, da franquia Tutores, permite um contato externo e diferenciado entre aluno e tutor na Área de tutoria Multidisciplinar. </p>
                <p>     Consiste em tutorias extensivas ao aluno que deseja ampliar o conhecimento para além do conteúdo disponibilizado no currículo escolar regular, trabalhando com metodologias de ensino, práticas pedagógicas embasadas conceitualmente e desenvolvidas em sala de aula. A filosofia educativa desenvolvida pela TUTORES possui uma leitura ampla e multidisciplinar para ser possível fazer uso do material de apoio didático inserido na dificuldade do aluno, tendo como mediadores os nossos tutores, que estão preparados para acompanharem as hipóteses de quaisquer dificuldades de forma individualizada </p>
            </div>
            <img src = '/img/image2.jpg' alt='imagem2'>
            

        </div>
        
        <div class = 'destaque'>
            <p> "Permite um contato <strong> externo e diferenciado </strong>  </p> 
            <p>   entre aluno e tutor" </p>
        </div>

        <div class ='containerzero'>
            <img src = '/img/image3.png' class='image'alt='imagem3'>
            <div class = 'transparente'>
                    <h3> Como </h3>
                    <h1> funciona?</h1>
                    <p> A plataforma permite que o aluno realizar atividades online, fazer check-lists de revisão da matéria e interagir no fórum com o seu tutor, facilitando o processo de acompanhamento de desempenho e agilizando o processo de esclarecimento de dúvidas, também sendo possível avaliação em duas mãos, em que o aluno é avaliado pelo tutor em seus conhecimentos, e o aluno também pode avaliar o tutor em sua didática.  </p>
            </div>
        </div>
        
        <div class="destaque">
            <h1 style="align-content: center;"> O que oferecemos </h1>
        </div>

        <div style="display: flex; justify-content: center;">
            <div style="position: relative; right: 0px; bottom: 0px">
                <img src = '/img/graphs.png' alt='imagem4' width="312" height="312">
            </div>

            <div style="position: relative; left: 0px; bottom: 0px">
                <img src = '/img/note.png' alt='imagem5' width="312" height="312">
            </div>

            <div class = 'texto'>
                <p>Um dos aspectos mais importantes da plataforma é o acompanhamento parental do desempenho de seu(s) filho(s). Ao realizar atividades e receber sua respectiva nota, o aluno conta com um gráfico de desempenho que pode ser acompanhado pelos seus responsáveis, que possui seu próprio login de acesso para um área de supervisão que também permite interagir com o tutor. Além dos recursos descritos previamente, os usuários do Ambiente ainda recebem ofertas de pacotes de ensino exclusivos e especializados conforme a defasagem, se houver, de aprendizado. </p>
            </div>

           

        </div>

    </main>

    <footer>
        <div class="faixa">

        </div>
    </footer>
</body>