@import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Variaveis de Core*/
    --c-blue: #005EA5;
    --c-red: #DC1F27;
    --c-green: #009846;
    --c-yellow: #FFCA06;
    --c-white: #EFEFEF;
    --c-black: #000000;
    --f-link:  #7F7F7F;
}

body {
    margin: 0;
    padding: 0;
}

/*Body configs*/
.login-screen {
    margin: 0;
    padding: 0;
    background: url(/img/login-screen.jpg) no-repeat;
    background-size: cover;
}

body::-webkit-scrollbar {
    width: 0.25rem;
}
body::-webkit-scrollbar-track {
    background: var(--c-white);
}

body::-webkit-scrollbar-thumb {
    background: #000000;
}
/*End body configs*/

/*Blue header */
.header {
    background-color: var(--c-blue);
    width: 100%;
    height: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
}

/*NavBar Styles*/
.navbar {
    display: flex;
    height: 5rem;
    width: 100%;
    background-color: #FFFFFF;
    flex-direction: row;
}

.nav-pages {
    display: flex;
    padding: 20%;
    width: 100%;
    flex-direction: row;
    margin-left: 30%;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-item {
    height: 5rem;
    width: 10rem;
}

.nav-item-img{
    height: 5rem;
    width: 100%;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item:hover{
    background-color: var(--c-white);
}

.nav-active {
    height: 5rem;
    width: 10rem;
    background-color: var(--c-blue);
}

.nav-active .link-text {
    color: var(--c-white);
    margin-left: 25%;
}

.link-text {
    color:var(--f-link);
    margin-left: 25%;
}
/*END NavBar Styles*/

.img {
    height: 5rem;
    width: 246px;
    background-color: darkorchid;
}

/*Green btn on Header*/
.login-pg {
    margin-left: 5%;
    background-color: var(--c-green);
    height: 2rem;
    width: 10rem;
}

.login-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    height: 2rem;
}

.login-txt {
    margin-left: 20%;
    color: var(--c-white);
}

/*Logoff btn Header*/
.logoff-pg {
    margin-left: 60%;
    background-color: var(--c-red);
    height: 2rem;
    width: 16rem;
}

.logoff-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 20vw;
    height: 2rem;
}

.logoff-txt {
    margin-left: 10%;
    color: var(--c-white);
}

/*Cad page*/
.formulario {
    border: 1px solid var(--c-black);
    border-radius: 10%;
    padding: 2%;
    width: 500px;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFFFFF;
}

.i-login {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 20px 0;
    border-bottom: 1px solid var(--c-black);
}

.i-tutor {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 20px 0;
}

.i-login input {
    border: none;
    outline: none;
    background: none;
    font-size: 14px;
    width: 80%;
    margin: 4px;
}

.r-btn {
    width: 100%;
    margin: 0;
    margin-top: 10%;
    padding: 0;
}

.btn {
    width: 100%;
    background-color: var(--c-white);
    border: 2px solid #000000;
    color: #000000;
    padding: 5px;
    margin-top: 5%;
    font-size: 16px;
    cursor: pointer;
}

/*main styles*/

main {
    display: flex;
    flex-direction: row;
    background-color: var(--c-white);
    width: 100%;
}

.user-inf {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.user-photo {
    display: flex;
    background-color: #FFFFFF;
    height: 160px;
    width: 160px;
    padding: 3%;
    margin: 10% 25%;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--f-link);
    border-width: 4px;
}

.user-name {
    display: flex;
    color: var(--f-link);
    width: 100%;
    margin: 0% 10% 0% 33%;
}

.tables {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    /* height: 100%; */
    width: 65%;
    /* padding: 3%; */
}

.tbl {
    width: 100%;
    height: 32vh;
    padding: 1%;
    margin-bottom: 3%;
    border: solid;
    border-color: var(--f-link);
    border-width: 1px;
    background-color: #FFFFFF;
}

.tbl-view{
    height: 28vh;
    overflow-y: auto;
}

.tbl-view::-webkit-scrollbar {
    width: 0.25rem;
}
.tbl-view::-webkit-scrollbar-track {
    background: var(--c-white);
}

.tbl-view::-webkit-scrollbar-thumb {
    background: var(--f-link);
}


.tbl-title {
    width: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    border-bottom: solid;
    border-width: 1px;
    color: var(--f-link);
    border-color: var(--f-link);
}

.tbl-item {
    border: solid;
    padding: 1%;
    border-width: 0.5px;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-left: 2.5%;
    width: 90%;
    background-color: var(--c-white);
    height: 7vh;
}