:root {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /*Variaveis de Core*/
    --c-blue: #005EA5;
    --c-red: #DC1F27;
    --c-green: #009846;
    --c-yellow: #FFCA06;
    --c-white: #EFEFEF;
    --c-black: #000000;
    --f-link:  #7F7F7F;
}

/*main styles*/

main {
    display: flex;
    flex-direction: row;
    background-color: var(--c-white);
    height: 83vh;
    width: 100%;
}

.user-inf {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 30%;
}

.user-photo {
    display: flex;
    background-color: #FFFFFF;
    height: 160px;
    width: 160px;
    padding: 3%;
    margin: 10% 25%;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--f-link);
    border-width: 4px;
}

.user-name {
    display: flex;
    color: var(--f-link);
    width: 100%;
    margin: 0% 10% 0% 33%;
}

.tables {
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 65%;
    padding: 1%;
    margin-top: 5vh;
    border: solid;
    border-color: var(--f-link);
    border-width: 1px;
    background-color: #FFFFFF;
}

.tbl {
    width: 99.5%;
    height: 65vh;
    padding: 1%;
    /* margin-bottom: 3%; */
    overflow-y: auto;
}



.tbl::-webkit-scrollbar {
    width: 0.25rem;
}
.tbl::-webkit-scrollbar-track {
    background: var(--c-white);
}

.tbl::-webkit-scrollbar-thumb {
    background: var(--f-link);
}


.tbl-title {
    width: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    border-bottom: solid;
    border-width: 1px;
    color: var(--f-link);
    border-color: var(--f-link);
}

.tbl-item {
    border: solid;
    padding: 1%;
    border-width: 0.5px;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-left: 2.5%;
    width: 90%;
    background-color: var(--c-white);
    height: 7vh;
}

.atv_view {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.btn_atv{
    font-size: 20px;
    margin-top: 1%;
    width: 14%;
    height: 5vh;
    padding: 5px 5px 5px 15px;
    /* border: solid 1px #000; */
    margin-left: 5%;
    background-color: lightslategrey;
    cursor: pointer;
}

.btn_atv a{
    color: black;
    text-decoration-line: none;
}

.tbl_atv {
    margin-top: 2%;
    margin-left: 5%;
    width: 90%;
    height: 65vh;
    padding: 1%;
    border: solid;
    border-color: var(--f-link);
    border-width: 1px;
    background-color: #FFFFFF;
    /* overflow-y: auto; */
}

.tbl_atv .tbl{
    width: 99%;
    height: 58vh;
    padding: 1%;
    /* margin-bottom: 3%; */
    overflow-y: auto;
}

.box_atv{
    border: solid 2px var(--c-blue);
    background-color: #FFF;
    margin-top: 5%;
    height: 40vh;
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    font-size: 20px;
}

.box_atv p{
    margin-left: 3%;
}

.input_atv{
    margin-top: 3%;
    margin-left: 5%;
}

.btn_newatv {
    margin-top: 5%;
    margin-left: 85%;
    width: 12%;
    height: 5vh;
    font-size: 16px;
    background-color: #009846;
    border: none;
    outline: none;
    cursor: pointer;
}


.tbl_atv::-webkit-scrollbar {
    width: 0.25rem;
}
.tbl_atv::-webkit-scrollbar-track {
    background: var(--c-white);
}

.tbl_atv::-webkit-scrollbar-thumb {
    background: var(--f-link);
}

.tbl_title{
    width: 95%;
    margin-top: 1%;
    margin-left: 2.5%;
    border-bottom: solid;
    border-width: 1px;
    color: var(--f-link);
    border-color: var(--f-link);
}

.tbl_item{
    border: solid;
    padding: 1%;
    border-width: 0.5px;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-left: 2.5%;
    width: 90%;
    background-color: var(#FFF);
    height: 7vh;
}

.tbl_item:hover{
    background-color: var(--c-white);
}

.tbl_ava::-webkit-scrollbar {
    width: 0.25rem;
}
.tbl_ava::-webkit-scrollbar-track {
    background: var(--c-white);
}

.tbl_ava::-webkit-scrollbar-thumb {
    background: var(--f-link);
}

.tbl_ava{
    margin-top: 3%;
    margin-left: 4%;
    width: 90%;
    height: 65vh;
    padding: 1%;
    border: solid;
    border-color: var(--f-link);
    border-width: 1px;
    background-color: #FFFFFF;
}

.tbl_ava .tbl{
    width: 99%;
    height: 58vh;
    overflow-y: auto;
}

.tbl_ava .tbl_item{
    display: flex;
    border: solid;
    padding: 1%;
    border-width: 0.5px;
    border-radius: 4px;
    margin-top: 1.5%;
    margin-left: 3.5%;
    width: 90%;
    background-color: var(#FFF);
    height: 15vh;
}

.tbl_item .tbl_nota{
    margin-left: 90%;
    margin-top: 3%;
    height: 5vh;
    width: 100%;
    border: solid 1px #000;
    background-color: var(--c-yellow);
    padding-top: 1vh;
    text-align: center;
}

.qst-view{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* border: solid 1px #000; */
    overflow-y: auto;
}

.qst-box{
    border: solid 0.5px var(--c-blue);
    background-color: #FFF;
    margin-top: 2%;
    height: 65vh;
    width: 80%;
    margin-left: 10%;
    font-size: 20px;
    padding: 2%;
    flex-direction: column;
    overflow-y: auto;
}

.qst-box .btn{
    height: 5vh;
    margin: 1% 0% 0% 90%;
}


.qst-input{
    flex-direction: row;
    margin-top: 2%;
}

.qst-input .resp{
    height: 10vh;
    width: 70%;
}

.qst-input .btn{
    height: 5vh;
    margin-left: 15%;
    /* margin: 0% 2% 0% 90%; */
}

.chat-view{
    width: 100%;
    height: 48vh;
    background-color: var(--c-white);
    border: 2px solid var(--c-blue);
    overflow-y: auto;
}

.own-resp{
    font-size: 14px;
    color: #FFF;
    text-align: right;
    margin: 1% 0% 1% 52%;
    width: 45%;
    border: 0.5px solid var(--c-blue);
    background-color: var(--c-blue);
    padding: 0.5%;
}

.anr-resp{
    font-size: 14px;
    color: var(--c-blue);
    text-align: right;
    margin: 1% 0% 1% 2%;
    width: 45%;
    border: 0.5px solid var(--c-blue);
    background-color: #FFF;
    padding: 0.5%;
    text-align: left;
}

.list-chat{
    border: 1px solid #000;
    padding: 2%;
    margin-bottom: 2%;
}