<!DOCTYPE html>
<head>
    <title>TUTORES Reforço Escolar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/styles_adm.css">
</head>

<body>

    <header class="header">
        <div class="logoff-pg">
            <a href="/" class="logoff-item">
                <span class="logoff-txt"><p>Clique aqui para fazer logoff</p></span>
            </a>
        </div>

        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Bem Vindo, <!--username--></p></span>
            </a>
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item-img">
                <a href="/">
                    <div class="img"></div>
                </a>
            </li>
            <div class="nav-pages">
                <li class="nav-item">
                    <a href="/administracao" class="nav-link">
                        <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">PAINEL</p><strong>INICIAL</strong></span>
                    </a>
                </li>
                <li class="nav-active">
                    <a href="/administracao/cadastro" class="nav-link">
                        <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">CADASTRAR</p><strong>USUÁRIO</strong></span>
                    </a>
                </li>
            </div>
        </ul>
    </nav>

    <script>
        function hideInput(){
            pNome = document.getElementById("pNome");
            pNome.style.visibility = 'hidden';
            pLogin = document.getElementById("pLogin");
            pLogin.style.visibility = 'hidden';
            pSenha = document.getElementById("pSenha");
            pSenha.style.visibility = 'hidden';
        }
        function showInput(){
            pNome = document.getElementById("pNome");
            pNome.style.visibility = 'visible';
            pLogin = document.getElementById("pLogin");
            pLogin.style.visibility = 'visible';
            pSenha = document.getElementById("pSenha");
            pSenha.style.visibility = 'visible';
        }
    </script>

    <form action="/administracao/cadastro" method="post">
        <label>
            Nome: <input type="text" name="nome">
        </label>
        <label>
            Sobrenome: <input type="text" name="sobrenome">
        </label>
        <label>
            Login: <input type="text" name="login">
        </label>
        <label>
            Senha: <input type="password" name="senha">
        </label>
        <label id="pNome">
            Nome do Pai/Mãe do aluno: <input type="text" name="pNome">
        </label>
        <label id="pLogin">
            Login do Pai/Mãe do aluno: <input type="text" name="pLogin">
        </label>
        <label id="pSenha">
            Senha do Pai/Mãe do aluno: <input type="password" name="pSenha">
        </label>
    
        <label>
            <input type="submit">
        </label>
    
        <label for="radio-admin"><input type="radio" name="tipo" value="0" onclick="hideInput()">Administrador</label>
        <label for="radio-aluno"><input type="radio" name="tipo" value="1" onclick="showInput()" checked="checked">Aluno</label>
        <label for="radio-pai"><input type="radio" name="tipo" value="2" onclick="hideInput()">Tutor</label>
    </form>

</body>