<!DOCTYPE html>
<head>
    <title>TUTORES Reforço Escolar</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/styles_adm.css">
</head>

<body>

    <header class="header">
        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Área Restrita</p></span>
            </a>
           
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item-img">
                <a href="/">
                    <div class="img"></div>
                </a>
            </li>
            <li class="nav-active">
                <a href="/administracao" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">CONHEÇA A</p><strong>HISTÓRIA</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/administracao/cadastro" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">IR PARA</p><strong>HOME</strong></span>
                </a>
            </li>
        </ul>
    </nav>


    <main>
        <h3>Pagina Inicial</h3>
    </main>
</body>