<!--
    <h1>Adicionar duvida</h1>
    <form method="post" action="/aluno/add-duvida">
        <label>Titulo: <input type="text" name="titulo"></label>
        <label>Mensagem: <input type="text" name="mensagem"></label>
        <input type="submit">
    </form>

-->