<!--  LISTA SOMENTE ATIVIDADES -->
Atividades não lidas:
    <% for (var mensagem of mensagens){ %>
        <% if (mensagem.lida == 0){ %>
            <a href="/aluno/mensagem/<%= mensagem.id %>"><p><%= mensagem.assunto %></p></a>
        <% } %>
    <% } %>

Todas as Atividades:
    <% for (var mensagem of mensagens){ %>
        <a href="/aluno/mensagem/<%= mensagem.id %>"><p><%= mensagem.assunto %></p></a>
    <% } %>
