<!DOCTYPE html>
<head>
    <title>Aluno - Painel Inicial</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Styles-->
    <link rel="stylesheet" type="text/css" href="/css/header.css">
    <link rel="stylesheet" type="text/css" href="/css/aluno_main.css">
</head>

<body>

    <header class="header">
        <div class="logoff-pg">
            <a href="/" class="logoff-item">
                <span class="logoff-txt">Clique aqui para fazer logoff</span>
            </a>
        </div>
        <div class="login-pg">
            <a href="/login" class="login-item">
                <span class="login-txt"><p>Bem vindo, <!--Colocar o nome--></p></span>
            </a>
           
        </div>
    </header>

    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="nav-item-img">
                <a href="/">
                    <div class="img"></div>
                </a>
            </li>
            <li class="nav-active">
                <a href="/aluno" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Painel</p><strong>Inicial</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/aluno/atividades" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Atividade</p><strong>Online</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/aluno/feedback" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Avaliações &</p><strong>Feedback</strong></span>
                </a>
            </li>
            <li class="nav-item">
                <a href="/aluno/chat" class="nav-link">
                    <span class="link-text"><p style="font-size: 10px; margin-top: 30px;">Chat de</p><strong>Dúvidas</strong></span>
                </a>
            </li>
        </ul>
    </nav>

    <main>
        <div class="user-inf">
            <div class="user-photo"></div>
            <div class="user-name"><!--Nome do Aluno--><br><!--Tutoria--><br><!--Média--></div>
        </div>
        <div class="tables">
            <div class="tbl">
                <div class="tbl-title">GRÁFICO DE DESEMPENHO</div>

            </div>
            <div class="tbl">
                <div class="tbl-title">LISTA DE TAREFAS</div>

            </div>
        </div>
    </main>

</body>

<!--

    <p><a href="/aluno/add-duvida">Adicionar dúvida</a></p>
    <p><a href="/aluno/duvidas">duvidas</a></p>
    <p><a href="/aluno/atividades">atividades</a></p>
-->
