<h1><%= mensagem.assunto %></h1>
<br>
<h3><%= mensagem.corpo %></h3>

<form method="post" action="/aluno/mensagem/<%= mensagem.id %>">
    <label>Escreva aqui sua resposta: <input type="text" name="resposta"></label>
    <input type="submit">
</form>